NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=YOUR_PROJECT_ID
BACKEND_GRPC_URL=127.0.0.1:9001

NEXT_PUBLIC_SEPOLIA_FLUX_BUYBACK_EXECUTOR=
NEXT_PUBLIC_SEPOLIA_FLUX_MULTI_POOL_MANAGER=
NEXT_PUBLIC_SEPOLIA_FLUX_POOL_FACTORY=
NEXT_PUBLIC_SEPOLIA_FLUX_REVENUE_DISTRIBUTOR=
NEXT_PUBLIC_SEPOLIA_FLUX_SIGNED_ORDER_SETTLEMENT=
NEXT_PUBLIC_SEPOLIA_FLUX_SWAP_FACTORY=
NEXT_PUBLIC_SEPOLIA_FLUX_SWAP_ROUTER=
NEXT_PUBLIC_SEPOLIA_FLUX_SWAP_TREASURY=
NEXT_PUBLIC_SEPOLIA_FLUX_TOKEN=
NEXT_PUBLIC_SEPOLIA_WETH=
